.rootPlay {
	box-sizing: border-box;
	margin: 0;
	margin-top: 0;
	padding: 0;
	background-size: 100% 100%;
	height: 90vh;
	background-repeat: no-repeat;
}

.gifContainer {
	background-color: black;
	border-radius: 20px;
	position: relative;
	width: 90%;
	height: 90%;
	justify-content: center;
}

.pongGIF {
	position: absolute;
	height: 80%;
	margin-top: 5%;
}

.pongGIF img {
	height: 100%;
}

.btnsContainer {
	position: absolute;
	display: flex;
	height: 90%;
	z-index: 2;
	align-items: center;
	justify-content: center;
}

.btnsContainer .btn {
	border: 1px solid white;
}

.btns {
	display: block;
	position: absolute;
	align-items: center;
	width: 80%;
	z-index: 2;
}

.btns .oneVSone {
	margin-left: 0;
}

.btns .tournament {
	margin-top: 10vh;
	margin-left: 0;
}

.dropdownOneVsOne, .dropdownTournaments, .dropdownCreateTournament {
	display: none;
	position: absolute;
	justify-content: center;
	width: 80%;
	z-index: 3;
}

.dropdownTournaments, .dropdownCreateTournament {
	color: black;
	height: 75%;
}

.tournament-display {
	max-height: 100%;
	overflow-y: auto;
}

.display-tournament-item {
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdownOneVsOne .vsAI, .dropdownTournaments .createPub {
	margin-left: 0;
}

.dropdownOneVsOne .local, .dropdownOneVsOne .online, .dropdownOneVsOne .backOne {
		margin-top: 7vh;
		margin-left: 0;
}

.dropdownTournaments .btn, .dropdownCreateTournament .btn {
	border: 1px solid black;
}

.modal-background {
	background-color: rgba(0, 0, 0, .6);
}

.chatbtn-placeholder {
	position: absolute;
	display: flex;
	justify-content: right;
	align-items: baseline;
	z-index: 3;
	bottom: 0;
	right: 0.5%;
	margin-bottom: 2vh;
}
