.root-profile {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-size: 100% 100%;
	height: 90vh;
	width: 100%;
	background-repeat: no-repeat;
}

.container-user {
	z-index: 2;
	height: 100%;
	justify-content: center;
}

@media only screen and (max-width: 799px) {
	.root-profile {
		flex-direction: column;
	}

	.container-user, .container-stats {
		height: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.container-user .user-info {
		max-height: 100%;
		overflow-y: auto;
	}
}

@media only screen and (min-width: 800px) {
	.root-profile {
		flex-direction: row;
		align-items: center;
	}

	.container-user {
		display: flex;
		height: 100%;
		width: 40%;
		align-items: center;
	}
	
	.container-stats {
		display: flex;
		align-items: center;
		height: 100%;
		width: 60%;
	}

	.container-user .user-info, .container-stats .stats {
		margin-left: 5%;
	}
}

.container-user .user-info {
	display: block;
	margin: 0 auto;
	color: black;
	height: 90%;
	width: 90%;
}

.user-info .photo {
	position: relative;
	height: 20%;
	justify-content: center;
}

.profile-photo-container {
	position: absolute;
	height: 120%;
	bottom: 0;
}

.profile-photo-container .profile-photo {
	position: absolute;
	height: 120%;
	border: 2px solid #192e2f;
}

.container-stats {
	z-index: 2;
}

.container-stats .stats {
	height: 90%;
	width: 90%;
}

.container-user .user-edit {
	display: none;
	margin: 0 auto;
	color: black;
	height: 90%;
	width: 90%;
	max-height: 100%;
	overflow-y: auto;
}

.edit-form {
	flex-direction: column;
}

/* .edit-profile-input {
	width: 80%;
} */

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1040;
	display: none;
}

.qr-modal {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 1.5rem;
	margin: 0 5px;
}

.twofactorButtons {
	display: none;
}
