.root-tournament {
	height: 90vh;
}

.tournament-name {
	position: absolute;
	margin-top: 2vh;
}

.root-tournament .close-btn, .root-tournament .exit-btn {
	display: none;
}

.match-container {
	max-width: 100%;
	flex-wrap: wrap;
}

.match-container .player-container {
	position: relative;
}

@media only screen and (max-width: 599px) {
	.player-container .avatar {
		width: 10vh;
		height: 10vh;
		border: 2px solid black;
	}
}

@media only screen and (min-width: 600px) {
	.player-container .avatar {
		width: 15vh;
		height: 15vh;
		border: 2px solid black;
	}
}
	
.player-container .avatar img {
	position: inherit;
}

.player-container .nickname {
	border: 2px solid black;
}

.vs-tournament {
	font-size: 230%;
}

.close-exit-btn {
	position: absolute;
	bottom: 10vh;
	margin-bottom: 4vh;
}
