.root-tournament {
	height: 90vh;
}

.tournament-name {
	position: absolute;
	margin-top: 2vh;
}

.match-container {
	max-width: 100%;
	flex-wrap: wrap;
}

.match-container .player-container {
	position: relative;
}

.root-tournament .top-half, .root-tournament .bottom-half {
	height: 45%;
	flex-direction: column;
}

.root-tournament .bottom-half .mc-4 {
	margin-bottom: 3%;;
}

@media only screen and (max-width: 699px) {
	.player-container .avatar {
		width: 9vh;
		height: 9vh;
	}
}

@media only screen and (min-width: 700px) and (max-width: 999px) {
	.player-container .avatar {
		width: 12vh;
		height: 12vh;
	}
}

@media only screen and (min-width: 1000px) {
	.player-container .avatar {
		width: 15vh;
		height: 15vh;
	}

	.root-tournament .top-half {
		height: 40%;
		flex-direction: row;
	}
	
	.root-tournament .bottom-half {
		height: 60%;
		flex-direction: row;
	}

	.root-tournament .bottom-half .mc-4 {
		margin-bottom: 0;
	}
}

.player-container .avatar {
	border: 5px solid black;
}

.player-container .avatar img {
	position: inherit;
}

.player-container .nickname-placeholder .nickname {
	border: 2px solid black;
}

.close-exit-btn-container {
	position: absolute;
	bottom: 10vh;
	margin-bottom: 4vh;
}

.close-exit-btn {
	flex-direction: column;
}
