#rootLogin {
	display: flex;
	align-items: center;
	height: 100vh;
	width: 100%;
	z-index: 2;
	padding: 0;
}

#body {
	color: black;
	background-color: white;
	align-items: center;
	justify-content: center;
}

.custom-input {
	z-index: inherit;
	color: black;
	background-color: white;
	border: 1px solid #ccc;
	transition: all .3s ease;
	padding: 0 15px;
	border-radius: 5px;
	width: 100%;
	height: 35px;
}

.custom-input:focus {
	border-color: rgb(19, 87, 54);
	outline: 1px solid rgb(19, 87, 54);
}

.custom-label {
	position: absolute;
	color: #999;
	z-index: 2;
	background-color: white;
	cursor: text;
	top: 6px;
	left: 18px;
	padding: 0 10px;
	transition: all .3s ease;
	font-size: 14px;
}

.custom-input:focus + .custom-label, .custom-input:valid + .costom-label {
	font-size: 11px;
	top: -5px;
}

.custom-input:focus + .costom-label {
	color: rgb(19, 87, 54);
}
