#chat-container {
	height: 80vh;
	display: flex;
	flex-direction: column;
}
#chat-log {
	flex: 1;
	overflow-y: auto;
}
#chat-message-input {
	width: calc(100% - 90px);
}
#chat-message-submit {
	width: 80px;
}
