#rootPlay {
	box-sizing: border-box;
	margin: 0;
	margin-top: 0;
	padding: 0;
	background-size: 100% 100%;
	height: 90vh;
	background-repeat: no-repeat;
}

#gifContainer {
	background-color: black;
	border-radius: 20px;
	position: relative;
	z-index: 1;
	width: 90%;
	height: 90%;
	justify-content: center;
}

#pongGIF {
	position: absolute;
	height: 80%;
	margin-top: 5%;
}

#pongGIF img {
	height: 100%;
}

#btnsContainer {
	position: absolute;
	display: flex;
	height: 100%;
	z-index: 2;
	align-items: center;
	justify-content: center;
}

#btnsContainer .btn {
	background-color: #3a595c;
	border: 1px solid white;
}

#btns {
	display: block;
	position: absolute;
	align-items: center;
	width: 80%;
	z-index: 2;
}

#btns #oneVSone {
	margin-left: 0;
}

#btns #tournament {
	margin-top: 10vh;
	margin-left: 0;
}

#dropdownOne, #dropdownTwo {
	display: none;
	position: absolute;
	justify-content: center;
	width: 80%;
	z-index: 3;
}

#dropdownTwo {
	color: black;
	height: 75%;
	background-color: #edeef0;
}

#dropdownOne #vsIA, #dropdownTwo #createPub {
	margin-left: 0;
}

#dropdownOne #local, #dropdownOne #online, #dropdownOne #backOne, #dropdownTwo #createPriv, #dropdownTwo #join {
	margin-top: 7vh;
	margin-left: 0;
}

#dropdownOne #back button, #dropdownTwo #back button {
	background-color: #7ba9a9;
	color: white;
}

#chatbtn-placeholder {
	position: absolute;
	display: flex;
	justify-content: right;
	align-items: baseline;
	z-index: 3;
	bottom: 0;
	right: 0.5%;
	margin-bottom: 2vh;
}
