#rootProfile {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-size: 100% 100%;
	height: 90vh;
	background-repeat: no-repeat;
}

#containerUser {
	z-index: 2;
	height: 100%;
	justify-content: center;
}

#containerUser #userInfo {
	display: block;
	margin: 0 auto;
	color: black;
	margin-top: 5vh;
	margin-left: 8%;
	height: 90%;
	width: 90%;
}

#userInfo #photo {
	position: relative;
	height: 20%;
	justify-content: center;
}

#photo #photoContainer {
	position: absolute;
	height: 120%;
	bottom: 0;
}

#photo #photoContainer img {
	border: 2px solid #192e2f;
}

#containerStats {
	z-index: 2;
	height: 100%;
}

#containerStats #stats {
	margin-top: 5vh;
	margin-left: 5%;
	height: 90%;
	width: 90%;
}

#containerUser #userEdit {
	display: none;
	color: black;
	margin-top: 5vh;
	margin-left: 8%;
	height: 90%;
	width: 90%;
}

#chat-placeholder {
	position: absolute;
	display: flex;
	z-index: 3;
	bottom: 0;
	right: 0.5%;
	margin-bottom: 2vh;
}
