<!-- Btn for show Chats modal  -->
<button class="btn btn-primary rounded-circle chat-modal-btn" data-bs-toggle="modal" data-bs-target="#chats_modal">
        <i class="fas fa-comments"></i>
</button>

<!-- Chats modal -->
<div class="modal fade" id="chats_modal" aria-labelledby="chatModalToggleLabel1" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<div class="modal-content bg-transparent position-relative h-100 d-flex flex-column border-0">
		<!-- Chat Content -->
			<div id="chat_window" class="d-flex position-relative flex-column rounded-4 bg-dark p-2 h-100">
				<div class="position-relative d-flex justify-content-end bg-dark p-2" style="color: #34d399">
					<div class="btn-group gap-2">
						<button type="button" class="btn btn-danger rounded-circle p-0 btn-window-action" data-bs-dismiss="modal" aria-label="Close">
							<i class="fa-solid fa-xmark"></i>
						</button>
					</div>
				</div>
				<div class="overflow-auto flex-grow-1 m-0 p-3">
					<div class="container">
						<div class="chat-element col-6 col-md-4 col-lg-2 d-flex flex-column align-items-center mb-4">
							<button class="open_chat_btn btn rounded-circle bg-dark d-flex justify-content-center align-items-center position-relative" style="width: 102px; height: 102px;" data-bs-target="#messages_modal" data-bs-toggle="modal" data-chatroom_name="public-chat">
								<img src="/assets/images/Chat.png" style="width: 100px; height: 100px;"  class="rounded-circle" alt="Circle Image">
								</span>
							</button>
							<p class="text-light mt-2">Public chat</p>
						</div>
						<div id="chat_element_container" class="row">
						</div>
					</div>
				</div>
				<div class="sticky-bottom w-100 rounded-bottom-5 p-4 bg-dark">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Messages modal -->
<div class="modal fade" id="messages_modal" aria-labelledby="chatModalToggleLabel1" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-scrollable">
		<div class="modal-content bg-transparent position-relative h-100 d-flex flex-column border-0">
				<div id="chat_window" class="d-flex position-relative flex-column rounded-4 bg-dark shadow-lg p-2 h-100">
					<div class="position-relative d-flex justify-content-between bg-dark p-2">
						<div id="chat_header_content">
							<!-- Chats Header Content -->
						</div>
						<div class="btn-group gap-2">
							<button class="btn btn-secondary rounded-circle p-0 btn-window-action" data-bs-target="#chats_modal" data-bs-toggle="modal">
								<i class="fa-solid fa-minus"></i>
							</button>
							<button type="button" class="btn btn-danger rounded-circle p-0 btn-window-action" data-bs-dismiss="modal" aria-label="Close">
								<i class="fa-solid fa-xmark"></i>
							</button>
						</div>
					</div>
				   <div id='chat_messages_container' class="overflow-auto flex-grow-1">
					   <ul id='chat_messages' class="d-flex flex-column gap-2 justify-end list-unstyled mb-0 p-3">
						   <!-- Messages here -->
					   </ul>
				   </div>
				   <div class="sticky-bottom w-100 rounded-bottom-5 p-2 bg-dark">
					   <div class="message-input-container">
							<form id="chat_message_form" method='POST' class="w-100 d-flex align-items-center">
								<div class="input-group">
									<div class="form-floating">
										<textarea id="chat_message_input" name="message" autofocus placeholder="Add message..." class="form-control message-field"></textarea>
										<label for="chat_message_input">Add message...</label>
									</div>
									<button id="chat_message_submit" type="submit" class="btn btn-primary send-button">
										<i class="fa-regular fa-paper-plane"></i>
									</button>
								</div>
							</form>
					   </div>
				   </div>
			   </div>
		</div>
	</div>
</div>
