<div id="customOverlay" class="twofactor-overlay"></div>

<div class="modal fade modal-background" id="twoFactorModal" tabindex="-1" aria-labelledby="twoFactorModalLabel" aria-hidden="true">
    <div class="modal-dialog twofactor-modal-dialog">
        <div class="modal-content twofactor-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="twoFactorModalLabel">Two-Factor Authentication</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="twoFactorForm">
                    <div class="mb-3">
                        <label for="otp" class="form-label">Enter your 2FA code</label>
                        <div class="d-flex justify-content-between">
                            <input type="text" class="otp-input" maxlength="1">
                            <input type="text" class="otp-input" maxlength="1">
                            <input type="text" class="otp-input" maxlength="1">
                            <input type="text" class="otp-input" maxlength="1">
                            <input type="text" class="otp-input" maxlength="1">
                            <input type="text" class="otp-input" maxlength="1">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Verify</button>
                </form>
            </div>
        </div>
    </div>
</div>
