<nav class="d-flex navbar navbar-expand col-12 col-md-6 col-xl-4">
	<div class="container-fluid vh-10">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
				<li class="d-flex col-3 nav-item align-items-center">
					<div class="navbar-brand w-100 m-0 text-center text-light"><h1 class="display-4 display-md-6">Pong</h1></div>
				</li>
				<li class="d-flex col-3 nav-item align-items-center justify-content-center">
					<a id="navItem-play" class="nav-link align-items-center h-8vh rounded-circle" aria-current="page" href="/play">
						<img src="/assets/icons/play.svg" alt="Play icon" class="h-100">
					</a>
				</li>
				<li class="d-flex col-3 nav-item align-items-center justify-content-center">
					<a id="navItem-friends" class="nav-link align-items-center h-8vh rounded-circle" aria-current="page" href="/friends">
						<img src="/assets/icons/friends.svg" alt="Friends icon" class="h-100">
					</a>
				</li>
				<li class="d-flex col-3 nav-item align-items-center justify-content-center">
					<div class="d-flex h-10vh justify-content-end">
						<a id="navbarPhotoContainer" class="nav-link fs-5 w-100" aria-current="page" href="/profile">
							<img id="navItem-profile" class="h-100 square rounded-circle shadow" alt="Avatar" />
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
