<nav class="d-flex navbar navbar-expand">
		<div class="collapse justify-content-center navbar-collapse px-5 py-3" id="navbarSupportedContent">
			<ul class="icon-container">
				<li class="icon icon-rotate" data-route="play">
					<a class="navbar-link" href="/play">
						<i class="fa-solid fa-gamepad"></i>
					</a>
				</li>
				<li class="icon icon-expand" data-route="friends">
					<a class="navbar-link" href="/friends/all">
						<i class="fa-solid fa-user-group"></i>
					</a>
				</li>
				<li class="icon icon-enter" data-route="profile">
					<a class="navbar-link" href="/profile">
						<i class="fa fa-user"></i>
					</a>
				</li>
				<li class="icon icon-collapse" id="navbar_logout">
					<i class="fa-solid fa-right-from-bracket"></i>
				</li>
			</ul>
		</div>
	</div>
</nav>
