<div id="navbar" class="navbar navbar-expand" style="background-color: #3a595c; height: 100%;">
	<div class="container-fluid vh-10">
		<a class="navbar-brand px-4" href="/login"><h1 class="display-6">Pong</h1></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link fs-5" aria-current="page" href="/play">Play</a>
				</li>
				<li class="nav-item">
					<a class="nav-link fs-5" aria-current="page" href="/friends">Friends</a>
				</li>
			</ul>
			<div class="d-flex justify-content-end" style="height: 7vh;">
				<a class="nav-link fs-5 w-100" aria-current="page" href="/profile">
					<!-- <img src="https://media.licdn.com/dms/image/D4D03AQG6EXhlpy_rGw/profile-displayphoto-shrink_800_800/0/1718222859854?e=1727308800&v=beta&t=6wj5xAOQly9HhUpGVZ9t-CBNYvnsDjUqpEeP4z8NjJk" class="rounded-circle shadow-4" style="height: 100%;" alt="Avatar" /> -->
					<img src="https://media.licdn.com/dms/image/D4D03AQGvzPJ4CpbKrg/profile-displayphoto-shrink_800_800/0/1687881185911?e=1727913600&v=beta&t=Gi4nfexHglmdyHEZAhpZ8Q0rK_pkodaauXKwh_hE7bc" class="rounded-circle shadow-4" style="height: 100%;" alt="Avatar" />
				</a>
			</div>
		</div>
	</div>
</div>
